{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Your Bank {% endblock %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">

{% block content %}
    {% include 'main/header.html' %}
    <div class="cards">
        <div class="card mb-3">
            <img src="{% static 'main/img/picture1.jpg' %}" class="d-inline-block align-text-top">
            <div class="card-body card-bb">
                <h5 class="card-title">Create your Own Bank</h5>
                <p class="card-text">On this site you can add your Bank or create new.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body card-bb">
                <h5 class="card-title">Our Mission</h5>
                <p class="card-text">Our Mission is simple - create your own mortgage helper.</p>
            </div>
            <img src="{% static 'main/img/picture2.jpeg' %}" class="d-inline-block align-text-top">
        </div>
    </div>
    <div class="cards">
        <div class="card mb-3">
            <img src="{% static 'main/img/picture3.jpeg' %}" class="d-inline-block align-text-top">
            <div class="card-body card-bb">
                <h5 class="card-title">Our analysts </h5>
                <p class="card-text">Our analysts will draw up a contract for you.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body card-bb">
                <h5 class="card-title">Our Mortgage Calculator</h5>
                <p class="card-text">Our calculator will help you calculate everything correctly.</p>
            </div>
            <img src="{% static 'main/img/picture4.jpeg' %}" class="d-inline-block align-text-top">
        </div>
        <a href="banking">
            <button class="btn btn-info">Explore More</button>
        </a>
    </div>

    <footer role="contentinfo" class="footer">
        <div class="container">
            <span class="text-muted"> Mail : <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor"
                                                  class="bi bi-envelope-fill" viewBox="0 0 16 16">
  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
</svg>  dmit.kulibaba@gmail.com  2021.© </span>
            <span class="text-muted"> Telephone : <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                       fill="currentColor" class="bi bi-phone"
                                                       viewBox="0 0 16 16">
                <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg> +380-96-82-79-232</span>
        </div>
    </footer>
{% endblock %}

